# SPDX-FileCopyrightText: Copyright (c) 2020 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.

#Jetson Nano
ACTION=="add", KERNEL=="1-2", SUBSYSTEM=="usb", ATTR{idVendor}=="0bda", ATTR{idProduct}=="5411", RUN+="/bin/sh -c 'echo enabled > /sys/bus/usb/devices/1-2/power/wakeup'"
ACTION=="add", KERNEL=="2-1", SUBSYSTEM=="usb", ATTR{idVendor}=="0bda", ATTR{idProduct}=="0411", RUN+="/bin/sh -c 'echo enabled > /sys/bus/usb/devices/2-1/power/wakeup"

#Jetson Xavier NX
ACTION=="add", KERNEL=="1-2", SUBSYSTEM=="usb", ATTR{idVendor}=="0bda", ATTR{idProduct}=="5489", RUN+="/bin/sh -c 'echo enabled > /sys/bus/usb/devices/1-2/power/wakeup'"
ACTION=="add", KERNEL=="2-3", SUBSYSTEM=="usb", ATTR{idVendor}=="0bda", ATTR{idProduct}=="0489", RUN+="/bin/sh -c 'echo enabled > /sys/bus/usb/devices/2-3/power/wakeup"

#Jetson Nano Lite
ACTION=="add", KERNEL=="1-3", SUBSYSTEM=="usb", ATTR{idVendor}=="1a40", ATTR{idProduct}=="0801", RUN+="/bin/sh -c 'echo enabled > /sys/bus/usb/devices/1-3/power/wakeup'"
