#!/usr/bin/env python
PACKAGE = "bot_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("task_code", str_t, 0, "Task code (6 digits)", "000000")

exit(gen.generate(PACKAGE, "stm_communication_node", "STMTask"))