#!/usr/bin/env python
PACKAGE = "bot_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("frame_width", int_t, 0, "Frame width", 640, 160, 1920)
gen.add("frame_height", int_t, 0, "Frame height", 480, 120, 1080)
gen.add("publish_rate", double_t, 0, "FPS", 30.0, 1.0, 120.0)
gen.add("auto_exposure", bool_t, 0, "Auto exposure", False)

exit(gen.generate(PACKAGE, "bot_vision", "UsbCam"))
