#!/usr/bin/env python
PACKAGE = "bot_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("conf_thresh", double_t, 0, "Confidence Threshold", 0.3, 0.0, 1.0)
gen.add("engine_path", str_t, 0, "Model engine path", "/home/teng/bot_dev/bot_ws/src/bot_vision/engine_models/ring.engine")

gen.add("class_names_str", str_t, 0, "Comma-separated class names", "red_ring,green_ring,blue_ring")

exit(gen.generate(PACKAGE, "bot_vision", "YoloTRT"))
